#title{
	background-color:#82ccdd;
}

.image1{	
	width:60%;
	transform: rotate(25deg);
	position:absolute;
	
	
}

.container-fluid{
	padding: 0% 0% 15%;
}

h1{
	font-family: "Montserrat-Black";
	font-size: 3.5rem;
	line-height: 1.5;
}
#h2{
	font-family:"Arial Black", Gadget, sans-serif;
	font-weight:bold;
	font-size: 2rem;
	line-height: 1.5;
}
#h22{
	font-family:"Arial Black", Gadget, sans-serif;
	font-weight:bold;
	font-size: 2rem;
	line-height: 1.5;
}
#h3 {
	font-family:"Arial Black", Gadget, sans-serif;
}

p{
color:grey;
}

.description{
	font-family:"Arial Black", Gadget, sans-serif;
	padding: 3% 6%;
	font-size: 3.5rem;
	
}


#btn{
	font-family:Arial, Helvetica, sans-serif;
width:150px;
height:50px;

	border: 2px solid black;
  color:white ;
  margin: 5% 0 0 6%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
#btn1{
	font-family:Arial, Helvetica, sans-serif;
width:150px;
height:50px;
margin: 5% 0 0 0;

	border: 2px solid black;
  color:white ;
  
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

/* Navigation bar */
.navbar{
	padding: 0 0 4.5rem;
}
.navbar-brand{
	
	padding: 3%;
}

.container{
	padding-top:60px;
	color:#dcdde1;
}

#logo {
	
	font-size: 2.5rem;
	
}
.nav-item{
	padding: 0px 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
}
.download-button{
	margin: 5% 3% 5% 0;
}

#para{
	padding-top:20px;
}

/* featured section*/

#features{
	padding: 7% 15% ;
	background-color:#fff;
	position:relative;
	
}
.feature-box{
	text-align:center;
	padding: 4.5%;
}
.icon{
	color:#0a3d62;
	margin-bottom: 1rem;
}
.icon:hover{
	color:#82ccdd;
}
/* Testimonials*/

#testimonials{
	
	text-align:center;
	background-color:#3c6382;
	color:#dcdde1;
	font-family:"Arial Black", Gadget, sans-serif;
	font-weight:bold;
}
#testimonial-image{
	
	width:270px;
	height:auto;
	border-radius:10%;
	margin:20px;
}
#testimonial-image1{
	
	width:100px;
	border-radius:100%;
	margin:20px;
}
}
#press{
	background-color:#3c6382;
	text-align:center;
	padding-bottom: 3%;
	
}
.carousel-item{
	padding: 7% 15%;
}

/* pricing section */
 #pricing{
	 padding:100px;
	 text-align:center;
 }

 .pricing-column{
	 padding: 3% 2%;
 }

 @media (max-width: 1028px) {
	 #title{
		 text-align:center;
	 }
	 .image1{
		 position:static;
		 transform: rotate(0);
		 
	 }
 }
 
 /* footer */
 
 #cta{
	 background-color:#82ccdd;
	 padding:7% 10% 0%;
	 text-align:center;
 }
 #footer{
	 text-align:center;
	 padding: 5%; 
 }
 
